.o_odoo_studio_community_report_layout_dialog {
    display: flex;
    justify-content: center;

    .o_odoo_studio_community_report_layout_item {
        width: 200px;
        text-align: center;
        margin: 10px;
        padding: 10px;
        border: 1px solid grey;
        cursor: pointer;
        &:hover {
            background-color: $o-web-studio-bg-light;
        }
    }
}
