.o_odoo_studio_community_client_action {
    &.o_legacy_view_sample_data .form-check {
        pointer-events: unset !important;
    }
    .o_odoo_studio_community_editor_manager {
        display: flex;
        height: 100%;

        .o_odoo_studio_community_view_renderer {
            flex: 1 1 auto;
            overflow: auto;
            min-width: 0;

            .o_view_nocontent {
                left: $o-web-studio-sidebar-width;
            }
            .o_odoo_studio_community_no_preview {
                padding: 20px;
                color: $o-web-studio-bg-light;
                font-size: x-large;
            }
            .o_odoo_studio_community_show_invisible, & + .o-web-studio-element-ghost {
                opacity: 1;
                outline: 1px solid $o-web-studio-bg-lighter;
                background: repeating-linear-gradient(
                    45deg,
                    white,
                    white 5px,
                    $o-web-studio-bg-lighter 5px,
                    $o-web-studio-bg-lighter 10px
                );
                background-attachment: fixed;
            }
            // remove background color of notebook page anchor to have invisible background
            .o_form_view .o_notebook > .o_notebook_headers > .nav.nav-tabs > .nav-item.o_odoo_studio_community_show_invisible > .nav-link {
                background-color: inherit;
            }
            .o_odoo_studio_community_widget_empty {
                background-color: $o-web-studio-bg-lighter;
                color: $o-web-studio-text-inactive;
            }
            .o_odoo_studio_community_list_view_editor, > div.table-responsive, .o_legacy_kanban_view {
                padding: 12px;
            }
        }

        .o_odoo_studio_community_sidebar {
            flex: 0 0 $o-web-studio-sidebar-width;
            overflow: auto;
        }
        .o_ace_view_editor {
            flex: 0 0 auto;
        }

        // drag & drop
        .ui-draggable-handle, .ui-draggable-handle label {
            cursor: move;
        }
        .ui-draggable-helper {
            background-color: white;
            box-shadow: none;
            border: 1px solid black;
            z-index: $zindex-modal;
            .o_odoo_studio_community_component_description {
                display: none;
            }
            &.ui-draggable-dragging {
                transform: rotate(-5deg);
                box-shadow: 0 5px 25px -10px black;
                transition: transform 0.6s, box-shadow 0.3s;
            }
            &.ui-draggable-helper-ready {
                opacity: 1!important;
                line-height: 2;
                border: 2px solid $o-brand-primary;
            }
        }
    }
}
