.o-approval-popover {
      .o-approval-popover--header {
        background-color: map-get($grays, '200');
        padding: 0.5rem 0.75rem;
        border-bottom: 1px solid $border-color;
    }

    .o_odoo_studio_community_approval_info {
      margin: 0.5rem;
    }
}

.o-approval-dialog {
    .o_odoo_studio_community_approval_info {
      margin-top: 1rem;
    }
}
