.o_odoo_studio_community_new_view_modal {
    .o_odoo_studio_community_new_view_dialog {
        padding-top: 0px;

        .o_odoo_studio_community_select {
            margin-top: 12px;
        }
    }
}
