.o_odoo_studio_community_client_action {
    .o_odoo_studio_community_editor_manager .o_odoo_studio_community_view_renderer {

        .o-draggable {
            &, * {
                cursor: move !important;
            }

            &.o-draggable--dragging {
                width: unset !important;
                transform: rotate(-5deg);
                box-shadow: 0 5px 25px -10px black;
                transition: transform 0.6s, box-shadow 0.3s;

                &.o-draggable--drop-ready {
                    opacity: 1!important;
                    line-height: 2;
                    border: 2px solid $o-brand-primary;
                }
            }
        }

    }
}
